<header class="nav">
    {{!-- <div class="nav">{{navigation}}</div> --}}
    <div class='block-1'>
        <a href="/">
     <img src="/images/logo-ABAGGAGE-SMALL 3.png" class="header-img"/>
     <div class="child-block">
     <p class="title">ABAGGAGE</p>
     <p class="title-2">creating one African Market</p>
        </a>
     </div>
    </div>
    <div class="routes">
     <a href="/">SHIPPING ROUTES</a>
     <a href="/about/">HOW IT WORKS</a>
    </div>
</header> 

<style>
    header {
        width: 98%;
        margin: 2%;
        height: 80px;
    }
    .header-img img {
        height: 80px;
    }
    .nav {
        display: flex;
        justify-content: space-between;
        color: black;
        text-decoration: none; 
        list-style: none;
    }
    .block-1 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    .block-1 a {
        text-decoration: none;
        color: black;
    }
    .title {
        font-family: Work Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        margin: 0;
    }
    .title-2 {
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: rgba(43, 41, 45, 0.6);
         margin: 0;
    }
    .routes {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        text-align: center;
          display: flex;
        align-items: center;
        justify-content: center;
    }
    .routes a {
        text-decoration: none;
        color: #000000;
         margin-right: 30px;
    }
</style>